.article-list {
    background-color: antiquewhite;
    padding: 10px 10px 5px 5px;
}

.article-post {
    background-color: aliceblue;
    margin-bottom: 5px;
    border-radius: 2px;
}

.article-post-header {
    background-color: aliceblue;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.article-post-body {
    background-color: aliceblue;
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-size: 0.6em;
}

.article-post-footer {
    background-color: aliceblue;
    text-align: left;
    display: flex;
    justify-content: right;
    font-size: 0.5em;
}

h5, h2 {
    margin: 0;
    padding: 0;
}

